body{
  
  color: white;
}


.nav-top {
display: flex;
justify-content: space-between
margin 25px;

}


.fa-face-laugh

{
color: yellow;
}


.rights {  margin: 0 0 0 450px; 
}

.masterdiv {
  margin: 10% 10%;
  background-color: rgb(48, 46, 46)
}

.right {  margin: 0 0 0 250px; 
 color: rgb(236, 194, 114);

}

.nav-top>li {
  list-style-type: none; 
  margin: 37px; 
  
}

.header {

  display: flex;
justify-content: space-around;
position: static;
padding: 19px;
margin: 0px 210px;


}

.line
{ width: 20%;
border: 1px solid yellow

}


.show-more {
  margin: 10px 0 10px 0;
  color: rgb(236, 194, 114);
}

.fbicon{
  background-color: rgb(156, 134, 134)
  border-radius 100%;
}

.icons i{
margin: 20px;
  color: rgb(236, 194, 114);
  background-color: rgb(156, 134, 134)
  border-radius 100%;

}



.pic{
  left: 40%;
  bottom: 10%;
  background-color: rgb(41, 40, 40);
  border-radius: 100%;
  padding: 28px;

}


.pic img{
width: 250px;
}


.bottom
{
  background-color: rgb(68, 60, 60);
  display: flex;
  justify-content: space-around;
margin: 10px 215px;
padding: 24px;
}

.fa-meta {
  color: rgb(22, 107, 136);
}

.fa-linkedin {
  color: rgb(87, 146, 170);
}

.bottom-background
{
  background-color: rgb(60, 55, 55);
  padding: 4px 24px;

}


.laststep {
  display: flex;
  justify-content: space-around;  
  background-color: rgb(43, 40, 40);
}

.leftbottom {
display: flex;
justify-content: space-around;
}


.leftbottom h3{
  color: rgb(236, 194, 114);
  }

.lcd1
{
  display: flex;
justify-content: space-around;
padding: 4px

}

.lcd2
{
  display: flex;
justify-content: space-around;
padding: 4px
}

.lcd3
{
  display: flex;
justify-content: space-around;
padding: 4px

}

.line1
{ width: 100%;
border: 1px solid grey

}


.line2
{ width: 100%;
border: 1px solid grey}




.finalstep {
  display: flex;
  justify-content: space-around;
  padding: 24px 220px;
  background-color: rgb(43, 40, 40)
}


  .final1
  {padding: 15px;
    background-color: rgb(60, 55, 55);}
    .final2
  {padding: 15px;
    background-color: rgb(60, 55, 55);}
    .final3
  {padding: 15px;
    background-color: rgb(60, 55, 55);}

    .finalstep i{
      color: rgb(236, 194, 114)
}