body{
  background-color: rgb(51, 51, 51);
  color: white;
}
.nav-top {
display: flex;
margin: 25px;

}


.fa-face-laugh

{
color: yellow;
margin: 0 4px;
}
.brand {  margin: 0 50px; 

}

.right {  margin: 0 0 0 50px; 

}

.nav-top>li {
  list-style-type: none; 
  margin: 0 15px; 
}

.header {

  display: flex;
justify-content: space-around;
margin-top: 100px;
position: static;


}

.line
{ width: 20%;
border: 1px solid yellow

}


.show-more {
  margin: 10px 0 10px 0;
}

.icons i{
margin: 20px;
  

}

.pic{
  position: absolute;
  left: 40%;
  bottom: 10%;
  background-color: rgb(126, 93, 93, 0.1);
  border-radius: 100%;
  padding: 28px;

}


.pic img{


width: 250px;
}

.position {

  position: relative;
}

.bottom
{
  background-color: rgb(68, 60, 60);
  margin: 20px;
  display: flex;
  justify-content: space-around;
margin: 20px 150px;
padding: 23px 1px;
}

.bottom-background
{
  background-color: rgb(60, 55, 55);
  padding: 4px 24px;

}


.laststep {
  display: flex;
  justify-content: space-around;  
  background-color: rgb(43, 40, 40);
}

.leftbottom {
display: flex;
justify-content: space-around;
}

.lcd1
{
  display: flex;
justify-content: space-around;
padding: 4px

}

.lcd2
{
  display: flex;
justify-content: space-around;
padding: 4px
}

.lcd3
{
  display: flex;
justify-content: space-around;
padding: 4px

}

.line1
{ width: 100%;
border: 1px solid grey

}


.line2
{ width: 100%;
border: 1px solid grey


}

